@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;1,500&display=swap');

body{
    font-family: 'Poppins', sans-serif; 
    text-align: center;
}

#board {
    background-color: black;
    border-top: 5px solid skyblue;
    border-bottom: 5px solid skyblue;
}

#p1{ /* 1st player name */
    position: absolute;
    left:100px;
    top: 30px;
    border: 2px solid black;
    padding: 5px;
    box-shadow: 5px 10px rgb(192, 104, 104);
}

#p2{ /* 2nd player name */
    position: absolute;
    right:100px;
    top: 30px;
    border: 2px solid black;
    padding: 5px;
    box-shadow: 5px 10px rgb(143, 90, 145);
}

.button-container {
    display: flex;
    justify-content: space-between; /* Distribute space between buttons */
    height: 50px; width:500px;
    /* border-radius: 7px; */
    position: absolute;
    top: 80%; left: 50%; 
    transform: translate(-50%, -50%);
}

.button-container button{
    background-color: rgb(69, 200, 69) ;
    color: white;
    padding: 12px; margin:10px;
    border:0.5px solid black;
    border-radius: 4px;
    /* position: absolute;
    bottom: 50px; */
}
